
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>İstatistikler main-page</title>
    <!-- custom-theme -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Esteem Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //custom-theme -->
    @*<link href="~/Templates/web3/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />*@
    <link href="~/Templates/web3/css/component.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Templates/web3/css/export.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Templates/web3/css/style_grid.css" rel="stylesheet" type="text/css" media="all" />
    @*<link href="~/Templates/web3/css/style.css" rel="stylesheet" type="text/css" media="all" />*@

    <!-- font-awesome-icons -->
    <link href="~/Templates/web3/css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome-icons -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">
</head>
<body>
    <!-- banner -->
    <div class="clearfix"></div>

    <ul class="ca-menu">
        <li>
            <a href="#">
                <i class="fa fa-book" style="margin-left:110px; margin-top:25px; width:70px; height:70px" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main">@ViewBag.result1</h4>
                    <h3 class="ca-sub">Müşteri Sayımız</h3>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-user" style="margin-left:110px; margin-top:25px; width:70px; height:70px" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main one">@ViewBag.result2</h4>
                    <h3 class="ca-sub one">Personel Sayımız</h3>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-money-bill-wave" style="margin-left:110px; margin-top:25px; width:70px; height:70px" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main two">@ViewBag.result3</h4>
                    <h3 class="ca-sub two">Kategori Sayımız</h3>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-book-open" style="margin-left:110px; margin-top:25px; width:70px; height:70px" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main three">@ViewBag.result4</h4>
                    <h3 class="ca-sub three">Ürün Sayımız</h3>
                </div>
            </a>
        </li>

    </ul>

    <ul class="ca-menu">
        <li>
            <a href="#">
                <i class="fa fa-list" style="margin-left:110px; margin-top:25px; width:70px; height:70px" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main">@ViewBag.result5</h4>
                    <h3 class="ca-sub">Toplam Stok Sayımız</h3>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-user-check" style="margin-left:110px; margin-top:25px; width:70px; height:70px" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main one">@ViewBag.result6</h4>
                    <h3 class="ca-sub one">Marka Sayımız</h3>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-database" style="margin-left:110px; margin-top:25px; width:70px; height:70px" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main two">@ViewBag.result7</h4>
                    <h3 class="ca-sub two">Kritik Seviyedeki Ürünler</h3>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-sticky-note" style="margin-left:110px; margin-top:25px; width:70px; height:70px" aria-hidden="true"></i>
                <div class="ca-content">

                    <h4 class="ca-main three">@ViewBag.result8</h4>

                    <h3 class="ca-sub three">En Yüksek Fiyatlı Ürün</h3>
                </div>
            </a>
        </li>

    </ul>
    <ul class="ca-menu">
        <li>
            <a href="#">
                <i class="fa fa-barcode" style="margin-left:110px; margin-top:25px; width:70px; height:70px" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main">@ViewBag.result9</h4>
                    <h3 class="ca-sub">En Düşük Fiyatlı Ürün</h3>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-user-clock" style="margin-left:110px; margin-top:25px; width:70px; height:70px" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main one">@ViewBag.result10</h4>
                    <h3 class="ca-sub one">En Fazla Ürünü Olan Marka</h3>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-address-book" style="margin-left:110px; margin-top:25px; width:70px; height:70px" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main two">@ViewBag.result11</h4>
                    <h3 class="ca-sub two">En Çok Satılan Ürün</h3>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-calendar" style="margin-left:110px; margin-top:25px; width:70px; height:70px" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main three">@ViewBag.result12</h4>
                    <h3 class="ca-sub three">Kasadaki Tutar</h3>
                </div>
            </a>
        </li>
    </ul>
</body>
</html>
<br />