@using CommercialAutomation.Entities.Concrete
@model List<Category>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@{ string status = "";}
@{ string statusButton = "";}

<a href="/Category/AddCategory/" class="btn btn-default" style="background-color:deepskyblue; margin-block-end:15px;">Yeni Kategori Ekle</a>
<table class="table table-bordered">
    <tr style="background-color:deepskyblue">
        <th>Id</th>
        <th>Kategori Adı</th>
        <th>Durum</th>
        <th>Aktif &ndash; Pasif</th>
        <th>Güncelle</th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.CategoryStatus == true)
        {
            status = "Pasif Yap";
        }
        if (item.CategoryStatus == false)
        {
            status = "Aktif Yap";
        }
        if (item.CategoryStatus == true)
        {
            statusButton = "btn btn-danger";
        }
        if (item.CategoryStatus == false)
        {
            statusButton = "btn btn-warning";
        }

        <tr>
            <th>@item.CategoryId</th>
            <td>@item.CategoryName</td>
            <td>@item.CategoryStatus</td>
            <td><a href="/Category/DeleteCategory/@item.CategoryId" class="@statusButton">@status</a></td>
            <td><a href="/Category/UpdateCategory/@item.CategoryId" class="btn btn-default" style="background-color:#ff6a00; color:white;">Güncelle</a></td>
        </tr>
    }
</table>

