@model CommercialAutomation.Entities.Concrete.Employee
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h3>Personel güncelleme sayfası</h3>

@using (Html.BeginForm("Update", "Employee", FormMethod.Post))
{
    <div class="form-group">
        @Html.HiddenFor(x=>x.EmployeeId)
        <b>@Html.Label("Peronel Adı")</b>
        @Html.TextBoxFor(c => c.EmployeeName, new { @class = "form-control" })
        <br />
        <b>@Html.Label("Peronel Soyadı")</b>
        @Html.TextBoxFor(c => c.EmployeeLastName, new { @class = "form-control" })
        <br />
        <b>@Html.Label("Departman")</b>
        @Html.DropDownListFor(x => x.DepartmentId, (List<SelectListItem>)ViewBag.valueDepartment,
          new { @class = "form-control" })
        <br />
        <b>@Html.Label("Görsel")</b>
        @Html.TextBoxFor(c => c.EmployeeImage, new { @class = "form-control" })
        <br />
        <button class="btn btn-default" id="updated" style="background-color:#ff6a00; color:white;">Değişiklikleri Kaydet</button>
    </div>
}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/Scripts/jquery-3.4.1.js"></script>

<script>
    $('#updated').click(function () {
        swal({
            title: "Güncellendi!",
            text: "Personel Başarıyla Güncellendi!",
            icon: "success",
            button: false
        });
    });
</script>

