@using CommercialAutomation.Entities.Concrete
@model List<Invoice>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<a href="/Invoice/Add/" class="btn btn-default" style="background-color:deepskyblue; margin-block-end:15px;">Yeni Fatura Girişi</a>
<table class="table table-striped">
    <tr style="background-color:deepskyblue">
        <th>Id</th>
        <th>Seri ve Sıra No</th>
        <th>Vergi Dairesi</th>
        <th>Tarih ~ Saat</th>
        <th>Toplam</th>
        <th>Teslim Eden</th>
        <th>Teslim Alan</th>
        <th>Güncelle</th>
        <th>Detaylar</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <th>@item.InvoiceId</th>
            <td>@item.InvoiceSerialNumber @item.InvoiceSequenceNumber</td>
            <td>@item.TaxAdministration</td>
            <td>@item.Date</td>
            <td>@item.SumPrice</td>
            <td>@item.DeliveryPerson</td>
            <td>@item.Receiver</td>
            <td><a href="/Invoice/Update/@item.InvoiceId" class="btn btn-default" style="background-color:#ff6a00; color:white;">Güncelle</a></td>
            <td><a href="/Invoice/InvoiceDetail/@item.InvoiceId" class="btn btn-default" style="background-color:#0094ff; color:white;">Detaylar</a></td>
        </tr>
    }
</table>
