@model CommercialAutomation.Entities.Concrete.SaleMovement
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Personel ekleme sayfası</h3>
@using (Html.BeginForm("Add", "SaleMovement", FormMethod.Post))
{
    <div class="form-group">
        <b>@Html.Label("Ürün Adı")</b>
        @Html.DropDownListFor(x => x.ProductId, (List<SelectListItem>)ViewBag.valueProduct,
                new { @class = "form-control" })
        <br />
        <b>@Html.Label("Müşteri Adı ve Soyadı")</b>
        @Html.DropDownListFor(x => x.CustomerId, (List<SelectListItem>)ViewBag.valueCustomer,
      new { @class = "form-control" })
        <br />
        <b>@Html.Label("Personel Adı ve Soyadı")</b>
        @Html.DropDownListFor(x => x.EmployeeId, (List<SelectListItem>)ViewBag.valueEmployee,
          new { @class = "form-control" })
        <br />
        <b>@Html.Label("Ürün Adedi")</b>
        @Html.TextBoxFor(c => c.Piece, new { @class = "form-control" })
        <br />
        <b>@Html.Label("Birim Fiyatı")</b>
        @Html.TextBoxFor(c => c.UnitPirce, new { @class = "form-control" })
        <br />
        <b>@Html.Label("Toplam Fiyatı")</b>
        @Html.TextBoxFor(c => c.SumPrice, new { @class = "form-control" })
        <br />
        <button class="btn btn-info" id="added">Ekle</button>
    </div>
}

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/Scripts/jquery-3.4.1.js"></script>

<script>
    $('#added').click(function () {
        swal({
            title: "Satıldı!",
            text: "Ürün Başarıyla Satıldı!",
            icon: "success",
            button: false
        });
    });
</script>


